* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-red: #f44336;
  --main-pink: #fff3f3;
  --p-color: #777;
  --section-padding-tb: 80px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Component */
.section-header > h1 {
  text-align: center;
  font-size: 35px;
  margin: 0;
}

.section-header > p {
  text-align: center;
  margin: 15px auto 50px;
  line-height: 1.6;
  width: 70%;
  color: var(--p-color, #777);
}

@media (max-width: 767px) {
  .section-header > h1 {
    font-size: 24px;
  }
  .section-header > p {
    font-size: 15px;
  }
}

.btn-shape {
  display: block;
  padding: 18px 40px;
  width: fit-content;
  color: white;
  font-size: 15px;
  border: 2px solid #fff;
  position: relative;
  transition: 0.8s;
}

.btn-shape:hover {
  background-color: var(--main-red, #f44336);
  border-color: var(--main-red, #f44336);
}

@media (max-width: 767px) {
  .btn-shape {
    padding: 10px 20px;
  }
}

.sub-header {
  position: relative;
  height: 50vh;
  width: 100%;
  background-image: url("../imgs/background.jpg");
  background-size: cover;
  background-position: center;
}

.sub-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
}

.sub-header h1 {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .sub-header h1 {
    font-size: 25px;
  }
}
/* End Component */
/* Start Header */
header {
  min-height: 92px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 150px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header nav .nav-links {
  display: flex;
  list-style: none;
}

header nav .nav-links li {
  padding: 20px;
}

header nav .nav-links a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
}

header nav .nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--main-red);
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  transition: 0.5s;
}

@media (min-width: 768px) {
  header nav ul a:hover::after {
    width: 100%;
  }
}
/* End Header */
/* Start Menu Toggle */
.menu-toggle {
  display: flex;
  align-items: center;
  z-index: 3;
}

.toggle-menu,
.close-menu {
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

@media (max-width: 767px) {
  .toggle-menu {
    display: block;
  }
}

@media (max-width: 767px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background-color: #b22222;
    flex-direction: column;
    padding-top: 80px;
    transition: 0.5s;
    z-index: 2;
  }

  .nav-links.active {
    right: 0;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li a {
    font-size: 16px;
    color: #ffffff;
  }

  .close-menu {
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    z-index: 4;
  }

  .nav-links.active ~ .menu-toggle .close-menu {
    display: block;
  }

  .nav-links.active ~ .menu-toggle .toggle-menu {
    display: none;
  }
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none !important;
  }
}
/* End Menu Toggle */
/* Start Landing Home */
.landing-home {
  position: relative;
  min-height: 100vh;
  background-image: url("../imgs/banner.png");
  background-size: cover;
  background-position: center;
}

.landing-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
}

.landing-home .text {
  color: white;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.landing-home .text h1 {
  font-size: 50px;
  margin: 0;
}

.landing-home .text p {
  margin: 15px 0 50px;
  line-height: 1.5;
  font-size: 17px;
}

@media (max-width: 767px) {
  .landing-home .text h1,
  .landings h1 {
    font-size: 25px;
  }
  .landing-home .text p {
    font-size: 13px;
  }
}

.landing-home .text .btn-shape {
  margin: 0 auto;
}

.landing-home .text .btn-shape::before,
.landing-home .text .btn-shape::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  transition: 0.8s;
}

.landing-home .text .btn-shape::before {
  left: -25px;
}

.landing-home .text .btn-shape::after {
  right: -25px;
}

.landing-home .text .btn-shape:hover::before,
.landing-home .text .btn-shape:hover::after {
  background-color: var(--main-red, #f44336);
}
/* End Landing Home */
/* Start Courses */
.courses {
  padding: var(--section-padding-tb) 0;
}

.courses .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

@media (max-width: 767px) {
  .courses .container {
    grid-template-columns: minmax(150px, 1fr);
    gap: 20px;
  }
}

.courses .course {
  background-color: var(--main-pink, #fff3f3);
  box-shadow: 0 3px 9px rgb(0 0 0 / 11%);
  border-radius: 10px;
  transition: box-shadow 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.courses .course:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.courses .course img {
  max-width: 100%;
}

.courses .course .course-info {
  padding: 20px;
}

.courses .course h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.courses .course p {
  line-height: 1.5;
  color: var(--p-color, #777);
}

.courses .course .meta {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.courses .course .meta div span:first-child {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 600;
}
.courses .course .meta div span:last-child {
  color: var(--p-color);
  font-size: 15px;
}

.courses .course .meta .course-btn {
  color: var(--main-pink);
  border: 2px solid var(--main-red);
  border-radius: 6px;
  padding: 3px 6px;
  font-size: 15px;
  background-color: var(--main-red);
  transition: 0.3s;
}

.courses .course .meta .course-btn:hover {
  background-color: #d32f2f;
  border-color: #d32f2f;
}

.courses .btn {
  color: var(--main-red, #f44336);
  border: 2px solid var(--main-red, #f44336);
  padding: 10px 25px;
  border-radius: 6px;
  display: block;
  font-size: 17px;
  position: relative;
  transition: background-color 0.5s, color 0.5s;
  width: fit-content;
  margin: 50px auto 0;
  font-weight: bold;
}

.courses .btn:hover {
  background-color: var(--main-red);
  color: white;
}
/* End Courses */
/* Start Campus */
.campus {
  padding: var(--section-padding-tb) 0;
}

.campus .container {
  display: flex;
  gap: 30px;
}

@media (max-width: 767px) {
  .campus .container {
    flex-direction: column;
    gap: 20px;
  }
}

.campus .image-holder {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.campus .image-holder img {
  width: 100%;
  display: block;
}

.campus .layer {
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.campus .image-holder:hover .layer {
  background: rgba(226, 0, 0, 0.7);
}

.campus .layer h3 {
  position: absolute;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.campus .image-holder:hover .layer h3 {
  bottom: 50%;
  opacity: 1;
}
/* End Campus */
/* Start Facilities */
.facilities {
  padding: var(--section-padding-tb) 0;
  background-color: #fff6f6;
}

.facilities .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

@media (max-width: 767px) {
  .facilities .container {
    grid-template-columns: minmax(150px, 1fr);
    gap: 20px;
  }
}

.facilities .facility {
  background-color: #f7f7f7;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.facilities .facility:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.facilities img {
  max-width: 100%;
}

.facilities .facility .text {
  padding: 20px;
}

.facilities .facility .text h3 {
  margin: 0 0 10px;
}

.facilities .facility .text p {
  line-height: 1.5;
  color: var(--p-color, #777);
}
/* End Facilities */
/* Start Testimonials */
.testimonials {
  padding: var(--section-padding-tb) 0;
  position: relative;
}

.testimonials .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 991px) {
  .testimonials .container {
    flex-direction: column;
    gap: 20px;
  }
}

.testimonials .box {
  flex-basis: 48%;
  display: flex;
  background-color: var(--main-pink, #fff3f3);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
}

@media (max-width: 767px) {
  .testimonials .box {
    flex-direction: column;
  }
}

.testimonials img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.testimonials .text p {
  line-height: 1.5;
  margin: 0 0 15px;
}

.testimonials .text .rate {
  margin: 0 0 15px;
  color: var(--main-red, #f44336);
}

.testimonials .text h3 {
  color: var(--p-color, #777);
  font-size: 15px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .testimonials .box img {
    margin: 0 auto 10px;
  }

  .testimonials .text p,
  .testimonials .text h3,
  .testimonials .text .rate {
    text-align: center;
  }
}

.testimonials .bullets {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonials .bullets li {
  height: 14px;
  width: 14px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.testimonials .bullets li.active {
  background-color: #ffcccc;
  border-color: #ffcccc;
}

.testimonials .bullets li:hover {
  background-color: #ffd6d6;
  border-color: #ffd6d6;
}
/* Start Testimonials */
/* Start Cta (Call To Action)*/
.cta {
  padding: var(--section-padding-tb) 0;
  margin-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../imgs/banner2.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.cta .btn-shape {
  margin: 30px auto 0;
}
/* End Cta */
/* Start Footer */
footer {
  margin: 50px 0;
}

footer .section-header p {
  margin-bottom: 20px !important;
}

footer .icons {
  text-align: center;
  font-size: 18px;
}

footer .icons i {
  cursor: pointer;
  transition: color 0.3s;
  color: var(--main-red);
  margin-right: 10px;
}

footer .icons i:hover {
  color: #d32f2f;
}

footer > p {
  text-align: center;
  margin: 15px auto 0;
  color: var(--p-color, #777);
  font-size: 15px;
}

footer p i {
  color: #ffcccc;
}
/* End Footer */
/* Start About Page */
.info {
  padding: var(--section-padding-tb) 0;
}

.info .container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

@media (max-width: 991px) {
  .info .container {
    flex-direction: column;
  }
}

.info .container .text h1 {
  line-height: 1.5;
}
.info .container .text p {
  color: var(--p-color, #777);
  line-height: 1.7;
}

.info .container .text .btn-shape {
  text-transform: uppercase;
  color: var(--main-red);
  border: 2px solid var(--main-red);
  margin: 30px 0 0;
}

.info .container .text .btn-shape:hover {
  color: white;
  background-color: var(--main-red, #f44336);
}

.info .container .text .btn-shape::before,
.info .container .text .btn-shape::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-red, #f44336);
  transition: 0.8s;
}

.info .container .text .btn-shape::before {
  left: -25px;
}

.info .container .text .btn-shape::after {
  right: -25px;
}

@media (max-width: 991px) {
  .info .container .text {
    text-align: center;
  }

  .info .container .text h1 {
    font-size: 25px;
    line-height: 1.3;
  }

  .info .container .text p {
    font-size: 15px;
  }

  .info .container .text .btn-shape {
    margin: 30px auto;
  }
}

.info .container .image img {
  max-width: 550px;
}

@media (max-width: 991px) {
  .info .container .image img {
    max-width: 100%;
  }
}
/* End About Page */
/* Start Blog Page */
.blog-content {
  padding: var(--section-padding-tb) 0;
}
.blog-content .container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .blog-content .container {
    flex-direction: column;
    text-align: center;
  }
}

.blog-content .blog-left {
  flex-basis: 65%;
}

.blog-content .blog-left img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .blog-content .blog-left img {
    display: none;
  }
}

.blog-content .blog-left h2 {
  color: #222;
  margin: 30px 0 15px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .blog-content .blog-left h2 {
    font-size: 23px;
    line-height: 1.3;
  }
}

.blog-content .blog-left p {
  color: var(--p-color, #777);
  line-height: 1.8;
}

.blog-content .comment-box {
  padding: 20px;
  margin: 50px 0 0;
  border: 1px solid #ccc;
}

.blog-content .blog-left .comment-box h3 {
  color: #222;
  margin: 30px 0;
  font-weight: 600;
}

.blog-content .blog-left .comment-box .input,
.blog-content .blog-left .comment-box textarea {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 3px;
  background-color: #f0f0f0;
  caret-color: var(--main-red);
}

.blog-content .blog-left .comment-box .input::placeholder,
.blog-content .blog-left .comment-box textarea::placeholder {
  transition: opacity 0.8s;
}

.blog-content .blog-left .comment-box .input:focus::placeholder,
.blog-content .blog-left .comment-box textarea:focus::placeholder {
  opacity: 0;
}

.blog-content .blog-left .comment-box textarea {
  resize: none;
  height: 150px;
}

.blog-content .blog-left .comment-box .btn-shape {
  margin-left: auto;
  border: 2px solid var(--main-red);
  color: var(--main-red);
  background-color: white;
  padding: 16px 45px;
  cursor: pointer;
  font-size: 17px;
}

.blog-content .blog-left .comment-box .btn-shape:hover {
  background-color: var(--main-red);
  color: white;
}

@media (max-width: 767px) {
  .blog-content .blog-left .comment-box .btn-shape {
    margin: 20px auto;
  }
}

.blog-content .blog-right {
  flex-basis: 32%;
}

@media (max-width: 767px) {
  .blog-content .blog-right {
    order: -1;
    margin-bottom: 50px;
  }
}

.blog-content .blog-right h3 {
  background-color: var(--main-red, #f44336);
  padding: 7px 0;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.blog-content .blog-right div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--p-color, #777);
  padding: 10px;
}
/* End Blog Page */
/* Start Contact Page */
.location {
  padding: var(--section-padding-tb) 0;
}

.location iframe {
  width: 100%;
  height: 400px;
}

.contact-section {
  padding: 0 0 var(--section-padding-tb);
}

.contact-section .container {
  display: flex;
}

@media (max-width: 767px) {
  .contact-section .container {
    flex-direction: column;
  }
}

.contact-section .icons {
  flex-basis: 48%;
}

.contact-section .icons .icon {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.contact-section .icons .icon i {
  margin-right: 15px;
  color: var(--main-red);
  font-size: 20px;
}

.contact-section .icons .icon span:first-child {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
}

.contact-section .icons .icon span:last-child {
  font-size: 15px;
  color: var(--p-color);
}

@media (max-width: 767px) {
  .contact-section .icons .icon {
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
  }

  .contact-section .icons .icon i {
    margin-bottom: 15px;
  }
}

.contact-section form {
  flex-basis: 48%;
}

.contact-section form .c-input,
.contact-section form textarea {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  font-size: 15px;
  caret-color: var(--main-red);
}

.contact-section form textarea {
  height: 150px;
  resize: none;
}

.contact-section form .btn-shape {
  margin-left: auto;
  border: 2px solid var(--main-red);
  color: var(--main-red);
  background-color: white;
  padding: 16px 30px;
  cursor: pointer;
  font-size: 17px;
}

.contact-section form .btn-shape:hover {
  color: white;
  background-color: var(--main-red);
}

@media (max-width: 767px) {
  .contact-section form .btn-shape {
    margin: 10px auto;
  }
}
/* End Contact Page */
